.inner {
    border-top: solid 1px rgb(217, 208, 208);
    margin-right: 1rem;
    padding-top: 20px;
    .description {
        h4 {
            font-weight: 700;
        }
        p {
            margin-bottom: 0;
            color: grey;
            font-size: 1.05rem;
            span {
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: rgb(157, 208, 82);
                }
            }
        }
    }
    .linkWeb {
        margin-top: 50px;
        p {
            font-size: 1.5rem;
            font-weight: 700;
            span,
            a {
                font-weight: 500;
                color: rgb(157, 208, 82);
            }
        }
    }
}
