.wrapper {
    min-width: 256px;
    min-height: 1000px;
    background-color: blanchedalmond;
}
.listActions {
    padding: 20px 5px;
    a {
        border: none;
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
        svg {
            min-width: 30px;
        }
        span {
            margin-left: 15px;
        }
    }
}
