.wrapper {
    width: 110px;
    height: 100%;
    background-color: azure;
    padding-left: 10px;
    position: fixed;
    top: 55px;
    z-index: 1;
    overflow-x: hidden;
    left: 0;
}
.listActions {
    // padding: 20px 5px;
    height: 80%;
    justify-content: center;
    a {
        border: none;
        border-radius: 15px;
        height: 80px;
        font-size: 14px;
        font-weight: 450;
        padding: 10px;
        div {
            align-items: center;
            justify-content: center;
            height: 100%;
            svg {
                min-width: 25px;
                color: #474646;
            }
            span {
                color: #635c5c;
            }
        }
    }
}
