.inner {
    margin-top: 36px;
}
.createButton {
    margin: 20px 0;
    button {
        border-radius: 20px;
    }
}
.wrapper {
    margin-top: 30px;
}
.cardItem {
    margin-right: 40px;
}
.searchButton {
    margin-left: 10px;
}
